.exit {
    position: absolute;
    top: 3rem;
    right: 2rem;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.hidden-menu {
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(50px);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;

}
.hidden-menu a {
    color: white;
}